<style>
.i18n-alert-info {
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    background-color: #dcd1ea;
    color: #6428b4;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #6428b4;
    border-radius: 0;
    font-size: 90%;
    width: 100%;
}
</style>
<div class="i18n-alert-info">
    {{ 'i18n.not_editable_aware_message'|trans({}, 'admin', adminLocale) }}
    {% if exceptionMessage is not null %}
        <br>
        <em><small>{{ exceptionMessage }}</small></em>
    {% endif %}
</div>